body {
    direction: row;
}

container1 {
    margin-left: 75px;
    margin-top: 75px;
    direction: column;
}

container2 {
    margin-left: 25px;
    margin-top: 75px;
    direction: column;
}

message_container {
    direction: column;
}

message {
    direction: column;
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
}

username {
    color: #171717;
    font-weight: bold;
    font-size: 16px;
}


message_text {
    color: #171717;
    font-size: 15px;
}

message_container {
    direction: column;
    gap: 15px;
}

input_container {
    margin-top: 20px;
}

username_container {
    direction: column;
}

password_container {
    direction: column;
}

account_buttons {
    direction: row;
    gap: 5px;
}

account_container {
    direction: column;
    gap: 10px;
}

message_input {
    background-color: #fff;
    color: #171717;
    font-size: 16px;
    border-width: 0px;
}

message_input_background {
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
}

password_input {
    color:#171717;
}

username_input {
    color: #171717;
}

username_text {
    color: #171717;
}

password_text {
    color: #171717;
}

account_container {
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
}

login_btn {
    background-color: #bababa;
    padding: 5px;
}

register_btn {
    background-color: #bababa;
    padding: 5px;
}

account_error {
    color: #ff3838;
    font-size: 15px;
}

account_success {
    color: #3d8700;
    font-size: 15px;
}

current_account {
    color: #171717;
    font-size: 15px;
}